@font-face {
    font-family: paloseco;
    src: url(Paloseco-Medium.ttf);
}

body {
    font-family: paloseco;
background-image: url(Eyeframe1.jpg);
background-repeat: no-repeat;
background-size: auto auto;
background-position:top;
animation-delay: 2s;
/* animation: Eyechange 5s infinite; */
}

h1 {
    font-size: 75px;
    text-align: center;
    color: white;
    animation-name: Blink;
    animation-duration: 5s;
}

img {
    display: grid;
    height: 100%;
max-width: 100%;
max-height: 100vh;
margin: auto;
overflow: hidden;
padding: 0;
border-radius: 100px;
}

a {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    width: 300px;
    font-size: 30px;
    color: whitesmoke;
    transition: .5s;

    animation-name: Blink;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-fill-mode: both;
 
}
a:hover {
color: gray;
transition: 0.5s;
font-size: 35px;
}

@keyframes Blink {
    from{opacity: 0%;}
    to{opacity: 100%;}
}
@keyframes Eyechange {
    0%{background-image: url(Eyeframe1.jpg);}
    25%{background-image: url(Eyeframe2.jpg);}
    50%{background-image: url(Eyeframe3.jpg);}
    75%{background-image: url(Eyeframe4.jpg);}
    100%{background-image: url(Eyeframe1.jpg);}
}